#copy and rename this file to .env.  fill in values
REST_X_API_KEY={secret key created by cdk}
WEBSOCKET_X_API_KEY={secret key created by cdk}
REST_API_ENDPOINT=https://{id}.execute-api.{region}.amazonaws.com/{prod}/
WEBSOCKET_API_NAME="{name of websocket api}"